<div class="navbar">
    <a class="navbar-brand" href="home">SCF</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a class="nav-link" href="listar-moedas">Listar funcionários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="converter-moedas">Incluir funcionário
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="historico-Conversoes">Editar funcionário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="historico-Conversoes">Visualizar funcionário
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="historico-Conversoes">Excluir funcionário
            </a>
        </li>
    </ul>
  </div>
  