<div class="navbar">
    <a class="navbar-brand" href="home">SCF</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a class="nav-link" href="listar-funcionarios">Listar funcionários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="incluir-funcionario">Incluir funcionário
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="editar-funcionario">Editar funcionário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="visualizar-funcionario">Visualizar funcionário
            </a>
        </li>
    </ul>
  </div>
