<!-- <div class="container">
  <h1>Detalhes do Funcionário</h1>

  <div>
    <p><strong>Nome:</strong> {{ data.nome }}</p>
    <p><strong>Matrícula:</strong> {{ data.matricula }}</p>
    <p><strong>Gênero:</strong> {{ data.sexo }}</p>
    <p><strong>Data de Nascimento:</strong> {{ data.nascimento | date: 'dd/MM/yyyy' }}</p>
    <p><strong>CPF:</strong> {{ data.cpf }}</p>
    <p><strong>Departamento:</strong> {{ data.departamento }}</p>
    <p><strong>Cargo:</strong> {{ data.cargo }}</p>
    <p><strong>Salário:</strong> {{ data.salario | currency:'BRL':'symbol':'1.2-2' }}</p>
  </div>

  <button mat-button (click)="fecharDialog()">Fechar</button>
</div> -->

<div class="container">
  <h1>Detalhes do Funcionário</h1>

  <div>
    <p><strong>Nome:</strong> {{ data.nome }}</p>
    <p><strong>Matrícula:</strong> {{ data.matricula }}</p>
    <p><strong>Gênero:</strong> {{ data.sexo }}</p>
    <p><strong>Data de Nascimento:</strong> {{ data.nascimento | date: 'dd/MM/yyyy' }}</p>
    <p><strong>CPF:</strong> {{ data.cpf }}</p>
    <p><strong>Departamento:</strong> {{ data.departamento }}</p>
    <p><strong>Cargo:</strong> {{ data.cargo }}</p>
    <p><strong>Salário:</strong> {{ data.salario | currency:'BRL':'symbol':'1.2-2' }}</p>
  </div>

  <button mat-button (click)="fecharDialog()">Fechar</button>
</div>
