<link rel="stylesheet" type="text/css" href="C:\Users\julia\Documents\cadastraFuncionario\src\app\home\home.component.css">

<!DOCTYPE html>
<html>
<body>

  <div class=" text-center">
    <img class="d-block mx-auto mb-4" src="https://media.istockphoto.com/id/1467509880/pt/foto/hrm-or-human-resource-management-businessman-holding-magnifier-select-and-accept-to-manager.webp?b=1&s=170667a&w=0&k=20&c=Ew26CvaOAGN__d9jAOBlc9HjDhg_XKYHV5FflXUy2vI=">
    <h1 class="display-5 fw-bold text-body-emphasis">Sistema de Cadastro de Funcionários. </h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
    </div>
  </div>

</body>
</html>
