<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" type="text/css" href="C:\Users\julia\Documents\cadastraFuncionario\src\app\home\home.component.css"> -->
</head>
<body>

  <div class="background-image">
    <div class="text-center">
      <img class="d-block mx-auto mb-4" >
      <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
      </div>
    </div>
  </div>

</body>
</html>
