body, html {
  height: 50%;
  margin: 0;
}

.background-image {
  background-image: url('src\img\Apresentação Simples Básica Blocos Diagonais Azul Branco (1).png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Defina a cor do texto conforme necessário para garantir visibilidade na imagem de fundo */
}

/* Adicione estilos adicionais conforme necessário */
.text-center {
  text-align: center;
}
